/** pop distribution CSS
Cyrille Medard de Chardon
October 2011 **/

html {
	font-family: arial;
	font-size: 1.2em;
}

body {
	margin: 0;

}
/** Main Sections **/

.wrapper {
	width: 780px;
	margin: 0 auto;
	padding: 5px;
}

#hband {
	border-bottom: 1px solid #aaa;
	font-size: 2em;
	padding: 10px;
}

#cband {
	min-height: 500px;
	background: white;
}

#fband {
	padding: 10px;
	border-top: 1px solid #aaa;
	min-height: 100px;
}

#content {
	background-color: white;
	padding: 10px 0;
}

#mdata {
	margin: 10px 0 10px 0;
	height: 600px;
}

#footer {
	font-size: 0.6em;
	text-align:center;
	color: #aaa;
}

	#footer a {
		text-decoration: none;
		color: #777;
	}

/** Sub sections **/

#statement {
	padding-top: 30px;
	display: block;
	width: 600px;
	color: #aaa;
}

/** Tag Sytling **/

p {
	margin: 0 0 1em 0;
	padding: 0;
}


/** Sytling **/

/** chart/map setup **/
#cht1, #cht2, #map {
	float: right;
	width: 200px;
	height: 400px;
}

#cht2 {
	width: 400px;
	height: 200px;
}

#map {
	border: solid 1px #aaa;
	width: 400px;
	height: 400px;
}
